In [14]:
import pandas as pd
import glob
import os as os

# Path to your folder
folder_path = "00_datos/fragmentomics_colon_lesende/"  # change this to your folder path

print(folder_path)

#os.listdir(folder_path)

00_datos/fragmentomics_colon_lesende/

In [30]:
tsv_files = glob.glob(folder_path + "*.tsv")
dataframes = {f.split("/")[-1]: pd.read_csv(f, sep="\t") for f in tsv_files}
#list(dataframes.keys())

In [23]:
# cas file - 4base endmotig
pd.DataFrame.head(dataframes['Cas4826cf-16colh.bam.tsv'])

   AAAA  0.010318293802894295
0  AAAC              0.003364
1  AAAG              0.005671
2  AAAT              0.004465
3  AACA              0.004220
4  AACC              0.002207

In [26]:
# cas2 file - 2base endmotif
pd.DataFrame.head(dataframes['2Cas5048cf.bam.tsv'])

   AA  0.05447631537720909
0  AC             0.048452
1  AG             0.054194
2  AT             0.032567
3  CA             0.094474
4  CC             0.143457

In [27]:
# histo file
pd.DataFrame.head(dataframes['histoSeraseq05.bam.tsv'])

   min  max  count
0   50   51      5
1   52   53     10
2   54   55     31
3   56   57     30
4   58   59     55

In [29]:
# diferencia 2cas??
pd.DataFrame.head(dataframes['2Seraseq05.bam.tsv'])

   AA  0.09202615422164555
0  AC             0.052648
1  AG             0.092879
2  AT             0.064058
3  CA             0.070534
4  CC             0.060068

Crear listas de Cas/Histo y los distintos tipos para identificar que es que. Debe haber duplicados tmbn